repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: go-test
        name: Run Go tests
        entry: cd cpx && go test ./...
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]

      - id: go-mod-tidy
        name: Run go mod tidy
        entry: cd cpx && go mod tidy
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]

      - id: go-build
        name: Check Go build
        entry: cd cpx && go build ./...
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]
